h1 {
    color:#00acee;
}
h4 {
    color: orange;
    
}
.jumbotron {
    background-color: orange;
    background-image:
    url("https://www.itconsultors.com/images/blog/cabecera-1024x576_x1x.jpg_667465578.jpg");
    background-size: cover;
    font-family: 'Playfair Display', serif;
    height: 400px;
    border-radius: 0px ;
    -webkit-border-radius: 0px ;
    -moz-border-radius: 0px ;
    -ms-border-radius: 0px ;
    -o-border-radius: 0px ;
}
.icono1 {
    font-size: 50px;
    
} 
.icono2 {
    font-size: 50px;
}
.futer1 {
    font-size: 60px;
    font-weight: bold;

}
.futer {
    font-size: 20px;
}

.icono1:hover {
    transform: scale(2) rotate(-40deg);
    -webkit-transform: scale(2) rotate(-40deg);
    -moz-transform: scale(2) rotate(-40deg);
    -ms-transform: scale(2) rotate(-40deg);
    -o-transform: scale(2) rotate(-40deg);
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}
.icono2:hover {
    transform: scale(2) rotate(40deg);
    -webkit-transform: scale(2) rotate(40deg);
    -moz-transform: scale(2) rotate(40deg);
    -ms-transform: scale(2) rotate(40deg);
    -o-transform: scale(2) rotate(40deg);
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}

.imagen1 {
    height: 200px;
    width: 200px;
    border: solid 1px #fafafa;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.paragraph {
    font-family: 'Playfair Display', serif;
    font-size: larger;
}





